@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --black: #141414;
  --red: #e50914;

  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  transition: 0.28s ease;
}

body {
  background-color: var(--black);
  color: #fff
}